@import 'https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700';

/* Estilos gerais */
* {
  padding: 0;
  border: 0;
  margin: 0;
  font-size: 12px;
}

body {
  font-family: 'Poppins', sans-serif !important;
  background: #fafafa !important;
}

p {
  font-family: 'Poppins', sans-serif;
}

.content {
  height: 200px !important;
  margin-bottom: 20px;
}

/* Caixa de venda */
.box-sale {
  border-radius: 10px;
  background: #eaeef1;
  padding: 15px;
  margin: 30px 5px 10px 5px;
}

/* Para produtos variados */
.productsVaried {
  display: flex;
  flex-direction: column;
  text-decoration: underline;
}

/* Dados do produto */
div.data-product {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: #fff;
  padding: 15px;
  margin-top: 15px;
}

/* Header para o recibo */
.header {
  display: flex;
  justify-content: space-between;
}

/* Estilos de total e saldo */
.total strong, strong.balance {
  background: #3bb5b4;
  color: #174746;
  padding: 5px;
  border-radius: 5px;
}

strong.sales {
  border-radius: 10px;
  padding: 10px;
  background: #ffc447;
  color: #634c1c;
  margin-right: 10px;
}

a {
  margin-top: 20px;
}

div.box-balance {
  margin: 15px 0 30px 0;
}

/* Botão de exclusão */
button.button-delete {
  margin-top: 10px;
}

.box-descount {
  margin-top: 5px;
}

/* Estilo de impressão */
@media print {
  /* Remover cabeçalhos e rodapés automáticos */
  @page {
    margin: 0;  /* Remove a margem padrão da impressão */
  }

  /* Define margens personalizadas no corpo */
  body {
    margin: 1cm;
  }

  /* Esconder qualquer barra de navegação ou botões que não precisam ser impressos */
  .no-print, nav, .header, footer {
    display: none !important;
  }

  /* Ajustes específicos para garantir boa impressão */
  .content {
    margin-bottom: 0;
  }

  /* Remover fundo para impressão */
  body {
    background: white !important;
  }

  /* Melhor espaçamento para tabelas */
  table {
    width: 100%;
    border-collapse: collapse;
  }

  table th, table td {
    padding: 5px;
    text-align: left;
  }

  /* Definir fonte menor para impressão */
  * {
    font-size: 10px;
  }
}
