{% extends 'layout.njk' %}

{% block content %}
  <h1>Adicionar Conta a Pagar</h1>

  <form action="/payables" method="POST">
    <label for="descricao">Descrição:</label>
    <input type="text" name="descricao" id="descricao" required>

    <label for="valor">Valor:</label>
    <input type="number" step="0.01" name="valor" id="valor" required>

    <label for="data_vencimento">Data de Vencimento:</label>
    <input type="date" name="data_vencimento" id="data_vencimento" required>

    <button type="submit">Adicionar Conta</button>
  </form>
{% endblock %}
